<%= form_for(@message_thread) do |f| %>
  <% if @message_thread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_thread.errors.count, "error") %> prohibited this message_thread from being saved:</h2>

      <ul>
      <% @message_thread.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author_id %><br />
    <%= f.number_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :forum_id %><br />
    <%= f.number_field :forum_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
