<% provide(:title, "#{@message_thread.forum.title} | #{@message_thread.title}") %>
<p>
  <%= link_to @message_thread.forum.title, @message_thread.forum %> >> <%= @message_thread.title %>
</p>
<div class="posts" id="posts">
<% if @posts.any? %> 
    <%= render partial: 'shared/message_post', collection: @posts %> 
<% end %>
</div>
<%= will_paginate @posts %>
<hr>
<% if signed_in? %>
	<%= form_for(@new_post, remote: true) do |f| %> 

		<%= f.label "Comment" %> 
		<%= f.text_area :content %> 
		
		<%= f.hidden_field :message_thread_id %>
		<%= hidden_field_tag :message_thread_id, @message_thread.id  %>

		<%= f.submit "Submit Comment", class: "btn btn-large btn-primary" %> 
	<% end %>
<% else %>
	<p> You need to <%= link_to 'Sign in', signin_path %> or <%= link_to 'Sign up', signup_path %> to leave a post.</p>
<% end %>
