<% provide(:title, "Users") %> 
<h1>Users</h1>

<table>
  <tr>
		<th></th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
		<td><%= gravatar_for user%></td>
    <td><%= link_to user.name, user %></td>
    <td><%= user.email %></td>
    <% if current_user.is_admin? %>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
		<% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @users %>

<br />
