<% provide(:title, @user.name) %> 

<p id="notice"><%= notice %></p>

<h1>User Info</h1>

<p>
	<%= gravatar_for @user %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<h1> Post History </h1>
<%= render @user.message_posts.reverse %>